<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoT Microservice Architecture Production Line</title>
  </head>
  <body>
    <header>
      <h1>
        IoT Microservice Architecture for a Production Line composed of multiple
        Robotic Arms
      </h1>
    </header>
    <main>
      <section id="overview">
        <h2>Overview</h2>
        <p>
          This web interface is part of the IoT microservice architecture
          production line. It serves as the Web UI microservice, providing a
          Flask-based interface to monitor telemetry data from robotic systems
          in real-time.
        </p>
        <p>
          The Web UI fetches data from an HTTP API and visualizes important
          metrics such as joint consumption and weight capacity of robotic
          systems.
        </p>
      </section>
      <section id="features">
        <h2>Features</h2>
        <ul>
          <li>
            Fetch and display real-time joint consumptions of a robotic arm data
          </li>
          <li>
            Fetch and display real-time weight supported by the end effector of
            a robotic arm
          </li>
        </ul>
      </section>
      <section id="endpoints">
        <h2>Available URLs</h2>
        <p>The following API endpoints are available in this service:</p>
        <ul>
          <li>
            <code>/robot/&lt;robot_id&gt;/telemetry/joints_consumption</code>:
            Fetches and displays joint consumption data for a specific robot.
          </li>
          <li>
            <code>/robot/&lt;robot_id&gt;/telemetry/weight_ee</code>: Fetches
            and displays weight capacity data for a specific robot.
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>
        &copy; 2025 Melloni, Angelini, Morselli. Distributed and IoT Software
        Architecture.
      </p>
    </footer>
  </body>
</html>
